<div class="carousel">
  <head>
    <title>Carousel/Slideshow</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  </head>
  <body>
  
  <div class="container">
    <br>
    <div id="theCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicadores -->
      <ol class="carousel-indicators">
        <li data-target="#theCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#theCarousel" data-slide-to="1"></li>
        <li data-target="#theCarousel" data-slide-to="2"></li>
        <li data-target="#theCarousel" data-slide-to="3"></li>
        
      </ol>
  
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/images/c1.jpg" alt="Carusel1" > 
           <div class="carousel-caption d-none d-md-block">
            </div>
        </div>

        <div class="item active">
          <img src="/images/c2.jpg" alt="Carusel2" > 
           <div class="carousel-caption d-none d-md-block">
            </div>
        </div>

        <div class="item active">
          <img src="/images/c3.jpg" alt="Carusel3" > 
           <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
  
      <a class="left carousel-control" href="#theCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">anterior</span>
      </a>
      <a class="right carousel-control" href="#theCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">siguiente</span>
      </a>
    </div>
  </div>
</div>
  </body>
</div>
  <p>¿Estás buscando mejorar tu salud y bienestar general? ¿Te apasionan los deportes y buscas estar al día con las últimas noticias y tendencias? ¡En Tu Portal Integral de Deportes y Salud encontrarás todo lo que necesitas para alcanzar tus objetivos!

    ¿Qué ofrecemos?
    
    En nuestro sitio web encontrarás una amplia variedad de contenido relacionado con deportes y salud, incluyendo:
    
    Artículos informativos: Escritos por expertos en salud y deporte, te brindarán información actualizada sobre diversos temas como:
    </p>
  <ul>
    <li>Nutrición y alimentación saludable</li>
    <li>Entrenamiento y rutinas de ejercicio</li>
    <li>Prevención de lesiones</li>
  </ul>
  